<<<<<<< HEAD
////////////////
// Mixins
//
// Most of your mixins go here.
////////////////

@mixin clear() {

  &::before,
  &::after {
    content: '\0020';
=======
//
// Mixins Partials
//
// All of your mixins should go in this file.
//

@mixin clear() {
  &:before, &:after {
    content: "\0020";
>>>>>>> 3e7d5649b7695c90b561c37faf5aad178ce8fa6b
    display: block;
    height: 0;
    overflow: hidden;
  }
<<<<<<< HEAD

  &::after {
=======
  &:after {
>>>>>>> 3e7d5649b7695c90b561c37faf5aad178ce8fa6b
    clear: both;
  }
}

@mixin rem($size, $attribute:font-size) {
  #{$attribute}: ($size * 10) + px;
  #{$attribute}: $size + rem;
}

//This is a friendly mixin, not used unless you use it.
<<<<<<< HEAD
@mixin sticky-footer($height: 125px) {

  html,
  body {
    height: 100%;
  }

  main {
    // equal to footer height
    margin-bottom: -($height);
    min-height: 100%;
  }

  main::after {
    content: '';
    display: block;
  }

  footer,
  main::after {
    // .push must be the same height as footer
=======
@mixin sticky_footer($height:125px) {
  html,
  body {
    height:100%;
  }

  #main-region {
    min-height: 100%;
    // equal to footer height
    margin-bottom: -($height);
    &:after {
      content: "";
      display: block;
    }
  }

  #footer,
  #main-region:after {
    // the after must be the same height as footer
>>>>>>> 3e7d5649b7695c90b561c37faf5aad178ce8fa6b
    height: $height;
  }
}
